html{
    background-color:bisque;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 5px;
}

span{
    display: inline-block;  
}
.logo{
    display: inline;
    margin-left: 35rem;
    margin-top: -13rem;
    display: inline;
    width: 50rem;
    float:left;
}
.header1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: right;
    font-size: 4rem;
    margin-right: 3rem;
}
.header11{
    font-weight: bold;
    margin-top: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: right;
    font-size: 3rem;
    color:green;
}
.id1{
    margin-right: 5rem;
    text-align: center;

}
.id1:hover{
    background-color: rgb(69, 244, 69);
    color: white;
    cursor: pointer;
    border-radius: 4px;
    width: 20rem;
}
.header2{
    margin-top: 10rem;
    margin-right:50rem;
    background-color: rgb(71, 232, 71);
    width:298rem;
    height: 8rem;
    border-radius: 5px;
}
.header22{
    text-align: left;
    margin-right: 10rem;
    font-size: 4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color:white;
}
.header22:hover{
    cursor:pointer;
    background-color: white;
    color: green;
    height: 8rem;
}
main{
    margin: 3rem;
    background-color: antiquewhite;
    border-radius: 4px;
    border: 0.5px;
    border-style:groove;
    border-color: grey;

}
.vien{
    border:0.5px solid grey;
    padding: 2rem;
}
aside{
    width:75rem;
    float:right;
}
.bigbutton{
    font-size: 3.5rem;
    font-weight: bold;
    background-color: greenyellow;
    color: white;
    border-color: greenyellow;
    border-radius: 4px;
    width: 53rem;
}
.smallbutton{
    font-size: 3.5rem;
    font-weight: bold;
    background-color: greenyellow;
    color: white;
    border-color: greenyellow;
    border-radius: 4px;
    width: 20rem;
    margin-left: 2rem;
}
select,input{
    border-radius: 4px;
    border-color:aliceblue;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.article{
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-size: 3.5rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;"
}
.article:hover{
    cursor: pointer;
    color:rgb(71, 232, 71);
}
.content{
    font-size: 3.2rem;
}
.lion{
    float:left;
    width:130rem;
    display: inline;
    border-radius: 3rem 0 0 3rem;
    height: 75rem;
    
}
.leftPartfirst{
    background-color:rgb(75, 20, 20);
    width: 215rem;
    height: 75rem;
    border-radius: 3rem 3rem 3rem 3rem;    
}

.circle{
    border-radius: 100%;
    margin: 5rem;
    background-color: grey;
    color: white;
    border-style: none;
    cursor: pointer;
    width: 7rem;
    height: 7rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 4rem;
}
.circle:hover{
    background-color: rgb(19, 178, 19);
}
.up{
    display: inline;
    margin: -0.6%;
    width: 70.5rem;
    font-size: 5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 1rem;
}
.up:hover{
    cursor: pointer;
    background-color: rgb(71, 232, 71);
    color: white;
    border-color: rgb(71, 232, 71);
}
.pics{
    width:55rem;
    margin-left: 1rem;
    margin-top: 4rem;
    margin-right: 14rem;
    border-color: rgb(126, 126, 126);
    border-radius: 2rem;
    border-style:solid;
    border-width: 1rem;
}
.pics2{
    width:55rem;
    margin-left: 8rem;
    margin-top: 4rem;
    border-color: rgb(126, 126, 126);
    border-radius: 2rem;
    border-style:solid;
    border-width: 1rem;
}
.pics3{
    width:55rem;
    margin-left: 17rem;
    margin-top: 4rem;
    border-color: rgb(126, 126, 126);
    border-radius: 2rem;
    border-style:solid;
    border-width: 1rem;
}
.Title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 4rem;
    margin-left: 1rem;
}
.tieude:hover{
    color:rgb(60, 174, 60);
    cursor: pointer;
}
.mota{
    margin-left: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.8rem;
}
footer{
    margin: 3rem;
    background-color: white;
    border-radius: 3rem 3rem 3rem 3rem;
    height: 40rem;
}
nav{
    display: inline;
}
.foot{
    display: inline;
    color: rgb(126, 88, 35);
    display: ;
    font-size: 3.8rem;
}
.trai{  
    text-align: left;
    float: left;
    border-right: 0.5px solid grey;
}
.giua{
    margin-left: 13rem;
}
.phai{
    text-align: right;
    
}
.footer{
    font-size: 2.5rem;
    display: inline;
}
.fixfoot{
    border-left: 0.5px solid grey;
    margin-top: -19.5rem;
    margin-left: 235rem;
    display: flex;
    text-align: left;
    font-size: 2.5rem;

}
